<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>

        <% wall_posts = ["First post!", "Second Post!", "Hello, it's your mother"] %>
        <ul>
          <% wall_posts.each do |post| %>
          <li><%= post%></li>
          <% end%>
    </body>
</html>
